@import "../../sassStyles/variables";

.primary-button {

  height: 40px;
  width: 150px;
  background-color: $purple;

  font-family: 'Exo 2', sans-serif;
  font-weight: 800; //extra-bold
  font-style: normal;
  font-size: 14px;
  color: $off-white;
  letter-spacing: 0.12em;

  border: 2px solid $purple;

  margin: 10% 0 0 0;

  cursor: pointer;

  &:hover {
    background-color: $purple;
    border: $off-white 2px solid ;
  }
}