@import "../../sassStyles/variables";

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination ::v-deep
  .swiper-pagination-bullet {
    opacity: 1;
    border: white solid 1px;
    background-color: transparent;
  }
    
  .swiper-pagination-bullet-active {
    background-color: $coral !important;
  }
