@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.project-card {

  @include flexCenter(column);
  max-width: 800px;
  margin-top: 20%;

  .project-card-img {
    width: 70%;
  }

  .title {

    width: 70%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5%;

    .icon {
      font-size: 22px;
      margin-left: 20px;
    }
  }

  p {
    width: 70%;

  }
}

@media (min-width: $desktop-width) { 
  .project-card {
    margin-top: 10%;
  }
}