@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";
 

.hero {
  background-color: $light-yellow;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  main {
    .intro {
      .upper-title {
        color: $yellow;
        font-size: 20px;
        letter-spacing: 0.3em;

      }
      .title-name {
        color: $dark-purple;

      }
      .subtitle {
        color: $dark-purple;
        font-size: 20px;

        span {
          color: $coral;
          font-weight: 400;
          padding: 0 2px;

          &:hover {
            background-color: $purple;
            color: $off-white;
            border-radius: 3px;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop-min-width) { 
  .hero {
    padding: 0 15%;
    align-items: flex-start;

    main {
      .intro {
        .upper-title {
          margin: 0 0 0 0.3em;

        }
        .title-name {
          font-size: 100px;
          margin: 0 0 0.1em 0;
        }
        .subtitle {
          margin: 0 0 0 0.4em;
        }
      }
    }
  }
    
}

@media (max-width: $mobile-max-width) {
  .hero {
    padding: 0 10%;
    align-items: center;
    
    main {
      .intro {
        .title-name {
          font-size: 50px;
          margin: 0.1em 0 0.2em 0;

        }
      }
    }
  }
}