@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";
 

.hero {
  // background-color: hotpink;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  main {
    .intro {
      .upper-title {
        color: $coral;

      }
      .title-name {
        color: $dark-purple;

      }
      .subtitle {
        color: $dark-purple;

        span {
          // background-color: ;
          // border-radius: 2px;
          // padding: 0.1em 0.2em 0.2em 0.2em;
          // color: $off-white;
          color: $coral;
          font-weight: 400;

          &:hover {
            background-color: $purple;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop-min-width) { 
  .hero {
    padding: 0 15%;
    align-items: flex-start;
    main {
      .intro {
        .upper-title {
          font-size: 20px;
          margin: 0 0 0 0.3em;

        }
        .title-name {
          font-size: 100px;
          margin: 0 0 0.1em 0;
        }
        .subtitle {
          font-size: 20px;
          margin: 0 0 0 0.4em;
        }
      }
    }
  }
    
}

@media (max-width: $mobile-max-width) {
  .hero {
    padding: 0 10%;
    align-items: center;
    
    main {
      .intro {
        .upper-title {
          font-size: 16px;
        
        }
        .title-name {
          font-size: 50px;
          margin: 0.1em 0 0.2em 0;

        }
        .subtitle {
          font-size: 16px;
        }
      }
    }
  }
}