@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

/* 
 *  mobile
 */

.hero-container {
  height: 100vh;
  background-color: $light-yellow;

  .hero {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(256.7deg, #FFD601 5.21%, #FF9033 87.65%);

    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 70%;
      padding: 40% 10% 0 10%;

      h3 {
        color: $purple;
        margin-left: 7px;
      }

      h1 {
        font-size: 65px;
        padding: 3px 0;
        color: $light-yellow;
      }

      p {
        color: $light-yellow;
        margin-left: 7px;
      }

    }

    aside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 30%;

      img {
        width: 50%;
        margin: 0 10% 10% 0;
        
      }
    }
  }
}

/* 
 *  desktop
 */

@media (min-width: 900px) {
  .hero-container {
    padding: 40px;
    
    .hero {
      flex-direction: row;

      main {
        height: 100%;
        width: 60%;
        padding: 10% 0 0 10%;

        h1 {
          font-size: 7vw;
        }

      }
      aside {
        height: 100%;
        width: 40%;
        align-items: center;
        justify-content: flex-end;

        img {
          width: 50%;
          
        }
      }
    }
  }
}