@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';


.skill-card {
  @include flexCenter(column);
  background-color: $light-coral;
  padding: 10%;
  height: 500px;
  width: 300px;

  header {
    @include flexCenter(column);
    height: 20%;
    width: 100%;

    h2 {
      text-align: center;
    }
  }

  .skills-list {
    height: 80%;
    text-align: center;

    ul {
      list-style: none;
      padding: 0;
      
      li {
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;

        &:hover {
          color: $coral;
        }
      }
    }
  }
}
