@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

/* 
 *  mobile
 */

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: $yellow;
  min-width: 300px;
  padding: 30px 40px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
  height: 450px;
  
  .h2 {
    font-size: 20px;
    color: $purple;
  
  }
  hr {
    width: 20%;
    border: 2px $purple solid;
  }
  .skill-list {
    list-style: none;
    margin: 40px 0;
    padding: 0;
    text-align: center;

    li {
      font-family: 'Exo 2', sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 16px;
      line-height: 1.5;
      color: $dark-purple;

      &:hover {
        color: $purple;
      }
    }
  }
}

@media (min-width: 900px) {
  .skill-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
    min-width: 380px;
    padding: 30px 40px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
    height: 450px;
    
    .h2 {
      font-size: 30px;
      color: $purple;
    
    }
    hr {
      width: 20%;
      border: 2px $purple solid;
    }
    .skill-list {
      list-style: none;
      margin: 40px 0;
      padding: 0;
      text-align: center;
  
      li {
        font-family: 'Exo 2', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        color: $dark-purple;
  
        &:hover {
          color: $purple;
        }
      }
    }
  }
}