@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.projects-comp-container {

  main {
    @include flexCenter(column);
    .projects-comp-grid {
      display: flex;
      flex-wrap: wrap;

      &:hover .projects-comp-img:not(:hover) {
        filter: grayscale(70%);
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .projects-comp-container {
    margin: 0 30px;
  
    main {
      @include flexCenter(column);
      .projects-comp-grid {
        width: 600px;
  
        &:hover .projects-comp-img:not(:hover) {
          filter: grayscale(70%);
        }
    
        .projects-comp-img {
          width: 300px;
        }
      }
      .projects-button {
        margin: 50px;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .projects-comp-container {
    main {
      @include flexCenter(column);
      width: 100%; 

      .projects-comp-grid {
        width: 80%;
  
        &:hover .projects-comp-img:not(:hover) {
          filter: grayscale(70%);

        }
        .projects-comp-img {
          width: 50%;
  
        }
      }
    }
  }
}