@import '../../sassStyles/mixins';
@import '../../sassStyles/variables';

/* 
 *  mobile
 */

.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $light-yellow;
  
  main {
    height: 100%;
    padding: 30px;

    .title {
      font-size: 65px;
      padding: 20px 0;
      color: $purple;
      text-align: center;
    }

    p {
      color: $dark-purple;
    }
  }

  aside {
    padding: 30px 0;
  }
}

 /* 
 *  desktop
 */

@media (min-width: 900px) {
  .skills {
    flex-direction: row;
    align-items: flex-end;
    padding: 5% 0;

    main {
      width: 50%;
      padding: 0 5% 20px 5%;

      .title {
        font-size: 8vw;
        padding: 10px;
      }
    }

    aside {
      width: 50%;
      @include flexCenter(row);
    }
  }
}


/* 
 *  large desktop
 */

@media (min-width: 1451px) {
  .skills {

    main {
      padding-left: 10vw;

      .title {
        font-size: 110px;
      }
    }

    aside {
      padding-right: 10vw;
    }
  }
}