@import '../../sassStyles/mixins';
@import '../../sassStyles/variables';

@media (min-width: $desktop-min-width) {
  .skills {
    main {
      .swiper-container {
        display: none;
  
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .skills {
    width: 100vw;
    
    main {
      display: flex;
      justify-content: center;

      .swiper-container {
        width: 300px;
      }

      .skills-block-container {
        display: none;
      }
    }
  }
}