@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";


@media (min-width: $tablet-width){

  .about {
    
    header, footer {
      color: $teal;
    }

    header {
      padding: 0 0 5% 0;
    }

    footer {
      padding: 5% 0 0 0;
    }
    
    main {
      @include flexCenter(row);
      padding: 0 10%;

      .bio {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

      }
      aside {
        margin: 0 0 0 5%;

        img {
          width: 350px;
          box-shadow: 10px 10px 0 $coral;
          
        }
      }
    }    
  }
}

@media (max-width: $mobile-width){

  .about {
    
    header {
      color: $yellow;
      padding: 5% 0 20% 0;
    }

    footer {
      color: $yellow;
      padding: 20% 0 5% 0;
    }
    
    main {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      padding: 0 10%;

      aside {
        margin: 7%;
        img {
          width: 290px;
        }
      }

      .bio {
        @include flexCenter(column);
        
        .about-button {
          margin: 5% 0 0 0;
        }
      }
    }    
  }
}