@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

@media (min-width: $desktop-min-width) {
  .about {
    main {
      @include flexCenter(row);
      margin: 0 50px;
  
      .bio {
        width: 40%;
        max-width: 300px;
        padding-right: 10px;
        
      }
      .profile-photo {
        width: 60%;
        max-width: 500px;
        padding-left: 10px;

      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .about {
    main {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin: 30px;

      .bio {
        @include flexCenter(column);
        width: 70%;
        text-align: center;
        margin-top: 20px;
        color: $dark-purple;

      }
      .profile-photo {
        width: 70%;
      }
    }
  }
}