@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.contact {
  background: linear-gradient(270.1deg, #FF5957 0.81%, #FF803C 99.92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;

  .title {
    color: $yellow;
  }
  p {
    color: $off-white;
    width: 35%;
    text-align: center;
    padding: 3%;
  }

  .social-icons {
    margin: 4% 0 0 0;

    .social-icon {
      font-size: 30px;
      margin: 10px;
      color: $off-white;

      &:hover {
        color: $yellow;
      }

    }
  }
}

/* 
 *  mobile
 */

@media (max-width: 899px) {
  .contact {
    .title {
      font-size: 65px;
    }
  }
}

/* 
 *  desktop
 */

@media (min-width: 900px) {
  .title {
    font-size: 8vw;
  }
}

/* 
 *  large desktop
 */

 @media (min-width: 1451px) {
  .title {
    font-size: 110px;
  }
}