@import "../../sassStyles/variables";

.navbar {
  background-color: $light-coral;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

@media (min-width: $desktop-min-width) {

  .navbar {
    .logo-container {
      .logo {
        width: 50px;

        &:hover {
          transform: rotate(180deg);
        }

      }
    }
    .nav-links {
      display: flex;
      flex-direction: row;
      
      .nav-link {
        margin: 0 25px;
        color: $dark-purple;
        text-decoration: none;

        &:hover {
          color: $coral;
        }

        &:active {
          color: $coral;
          text-decoration: none;
        }
      }
    }
    .burger-menu {
      display: none;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .navbar {
    .logo-container {
      .logo {
        width: 40px;

      }
    }
    .nav-links {
      display: none;

    }
    .burger-menu {
      color: $dark-purple;
      font-size: 25px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}