@import "../sassStyles/variables";
@import "../sassStyles/mixins";


@media (min-width: $desktop-width){

  .about {

    height: 100vh;
    
    header, footer {
      color: $yellow;
      padding: 5% 0;
    }
    
    main {
      @include flexCenter(row);
      padding: 0 10%;

      .bio {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

      }
      aside {
        margin: 0 0 0 5%;

        img {
          width: 350px;
          box-shadow: 10px 10px 0 $coral;

          &:hover {
            width: 370px;
            box-shadow: 15px 15px 0 $coral;
          }
        }
      }
    }    
  }
}

@media (max-width: ($desktop-width - 1)){

  .about {
    
    header, footer {
      color: $yellow;
      padding: 5% 0;
    }
    
    main {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      padding: 0 10%;

      aside {
        margin: 7%;
        img {
          width: 350px;
          box-shadow: 10px 10px 0 $coral;

        }
      }

      .bio {
        @include flexCenter(column);
        
        .about-button {
          margin: 5% 0 0 0;
        }
      }
    }    
  }
}