@import "../sassStyles/variables";
@import "../sassStyles/mixins";



@media (min-width: $tablet-width) {

  .projects-comp-container {
  
    header, footer {
      color: $teal;
      padding: 0 0 5% 0;
    }
  
    main {

      @include flexCenter(column);
  
      .projects-comp-grid {
        @include flexCenter(row);
        flex-wrap: wrap;
        max-width: 900px;

        &:hover .projects-comp-img:not(:hover) {
          filter: grayscale(70%);
        }
    
        .projects-comp-img {
          width: 45%;
          margin: 0;
          cursor: pointer;
        }
      }
  
      .projects-comp-button {
        @include flexCenter(row);
        margin: 5%;
      }
  
    }
  }

}

@media (max-width: $mobile-width) {

  .projects-comp-container {
  
    header, footer {
      color: $teal;
      padding: 10% 0;
    }
  
    main {
  
      .projects-comp-grid {
        @include flexCenter(row);
        flex-wrap: wrap;
    
        .projects-comp-img {
          max-width: 45%;
          margin: 0;
        }
      }
  
      .projects-comp-button {
        @include flexCenter(row);
        margin: 5%;
      }
  
    }
  }

}