@import "../sassStyles/variables";
@import "../sassStyles/mixins";

.projects-comp-container {

  background-color: $dark-purple;

  header, footer {
    color: $teal;
  }

  main {

    .projects-comp-grid {
      @include flexCenter(row);
      flex-wrap: wrap;
  
      .projects-comp-img {
        max-width: 45%;
        margin: 0;
      }
    }

    .projects-comp-button {
      @include flexCenter(row);
    }

  }
}