@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.projects-page {
  background-color: $off-white;
  width: 100%;
  @include flexCenter(column);

  main {
    @include flexCenter(column);
    margin-top: 30%;

    header {
      padding: 0;
      color: $dark-purple;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .projects-page {
    main {
      margin-top: 80px;
    }
  }
}

