@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.footer {
  background-color: $light-yellow;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 30px 40px;

  a {
    text-decoration: none;
    color: $dark-purple;

    &:hover {
      color: $coral;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .footer {
    // display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}