/*
 * Colours
 */

$coral: #FF6666;
$teal: #66ffff;
$purple: #6666ff;
$yellow: #ffcc00;
$dark-purple: #292845;
$off-black: #292845;
$light-coral: #FFF7F7;
$off-white: #FFFDF3;


/*
 * Break-points
 */

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;

$mobile-min-width: 320px;
$mobile-max-width: 768px;
$desktop-min-width: 769px;
$desktop-max-width: 1200px;