@import "./sassStyles/mixins";
@import "./sassStyles/variables";
@import "./sassStyles/typography";

* {
 box-sizing: border-box;
}

body {
  background-color: $light-coral;
  margin: 0;
  padding: 0;
  @include flexCenter(column)
}

.app {
  background-color: $light-coral;
  width: 90vw;
  min-width: 300px;
  max-width: 1300px;
}