@import "./sassStyles/mixins";
@import "./sassStyles/variables";
@import "./sassStyles/typography";

* {
 box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  background-color: $light-coral;
  @include flexCenter(column);

  .app-body {
    width: 100%;
    min-width: 300px;
    max-width: 1300px;
  }
}